// Styling for the footer

body[id],
{
  > footer,
  {
    align-items: center;
    color: $light;
    display: grid;
    gap: 0 0;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
    max-width: 72rem;
    padding: 25px 0;
    scroll-snap-align: end none;
    text-align: center;

    > b,
    {
      @include heading-font;
      @include text-shadow;
      align-self: start;
      font-size: 90%;
      line-height: 40px;
      text-transform: none;
      white-space: pre;

      > time::before,
      { content: "\00a9\00a0"; }

      > time::after,
      { content: "\00a0"; }

      > a,
      { font-weight: 400; }
    }

    > ul,
    {
      display: flex;
      font-size: 200%;
      list-style: none;
      padding: 0;

      > li,
      { margin: 0.25rem; }
    }
  }
}
