main,
{
  article,
  aside,
  footer,
  header,
  hgroup,
  nav,
  section,
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 96rem;
    position: relative;
    width: 100%;

    &::before,
    {
      background-color: $body;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      max-width: 100%;
      min-width: 20rem;
      width: 72rem;
    }

    > *,
    {
      flex: 1 1 auto;
      margin: 0;
      max-width: 100%;
      min-width: 20rem;
      width: 72rem;
    }

    > footer,
    > header,
    > section,
    { &::before { background-color: $dark; } }

    > aside,
    > nav,
    { &::before { background-color: darken($body, 5%); } }
  }

  article::before,
  {
    border-bottom: medium solid $primary;
    border-left: 0;
    border-right: 0;
    border-top: medium solid $primary;
  }

  article,
  article > header,
  article > footer,
  {
    > header,
    > footer,
    {
      h2,
      h3,
      h4,
      h5,
      { text-align: center; }
    }

    > :not(header, footer, iframe, ul, ol),
    { padding: 1rem 1rem; }

    > ul,
    > ol,
    { padding: 1rem 2rem; }

    > p + p,
    > h1 + p,
    > h2 + p,
    > h3 + p,
    > h4 + p,
    > h5 + p,
    > h6 + p,
    { padding-top: 0; }

    > :not(p) + p,
    { text-indent: 1em; }

    > h1,
    {
      @include text-shadow;
      background-color: $main;
      border-bottom: medium solid $primary;
      border-top: medium solid $primary;
      color: $light;
      max-width: 100%;
      padding: 8rem 0.5rem 4rem;
      scroll-margin-top: calc(-3px - 4rem);
      scroll-snap-align: start none;
      text-align: center;
      width: 96rem;

      > a:empty { margin: 0.2em; }
      > em { padding-right: 0.2em; }
      > span { font-size: 1.5ex; }
      > span:nth-of-type(even)::after { content: "\0a"; white-space: pre; }
    }

    > h1 + h6,
    {
      @include serif-font;
      @include text-shadow;
      background-color: $dark;
      color: $light;
      font-size: 1rem;
      font-style: italic;
      font-weight: 400;
      padding: 2rem 0.5rem;
      text-align: center;
    }

    > h1 + h6 + :not(header, footer, iframe),
    > h1 + :not(h6, header, footer, iframe),
    { padding-top: 2rem; }

    > h1 + h6 + header,
    > h1 + h6 + footer,
    { padding-bottom: 0; }

    > aside,
    {
      border-top: medium solid $primary;
      border-bottom: medium solid $primary;

      > details > summary::after,
      {
        content: "\2026";
        display: inline-block;
        width: 0;
      }

      > details[open] > summary::after { content: none; }
      > details:only-child > summary { font-size: 1.75em;}
    }

    > nav,
    {
      border-bottom: medium solid $primary;
      border-top: medium solid $primary;
      font-size: 1.2em;
      text-align: left;

      a,
      {
        color: $dark;
        text-shadow: none;

        &:hover { color: $dark; text-shadow: 0 0 0.1em $primary; }
        &:visited { color: $light; }
        &:visited:hover { color: $dark; }
      }
    }

    > figure,
    {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      > p { text-align: center; }

      > figcaption,
      {
        flex: 0 1 auto;

        &::before,
        {
          content: "Figure. ";
          font-weight: bold;
        }
      }
    }

    > blockquote,
    {
      border-left: medium solid $light;
      color: darken($light, 25%);
      margin: 1rem;
      padding: 0 1rem;

      > p,
      { margin: 0; }
    }

    h2,
    h3,
    h4,
    h5,
    {
      padding: 1rem 0.5rem;
      scroll-snap-align: start none;
    }

    img,
    {
      border: 0 solid $primary;
      vertical-align: bottom;

      &:only-child,
      {
        display: block;
        margin: auto;
      }
    }

    iframe,
    {
      background-color: $main;
      border: 0;
      height: 75vh;
      max-width: 72rem;
      padding: 0;
    }

    dd { padding-left: 2em; }
    p { text-align: justify; }

    // Pandoc styling on descendants only.
    > :not(blockquote) {
      p {
        margin: 1em 0;
      }
      h1, h2, h3, h4, h5, h6 {
        margin-top: 1.4em;
      }
      h5, h6 {
        font-size: 1em;
        font-style: italic;
      }
      h6 {
        font-weight: normal;
      }
      ol, ul {
        padding-left: 1.7em;
        margin-top: 1em;
      }
      li > ol, li > ul {
        margin-top: 0;
      }
      pre {
        margin: 1em 0;
        overflow: auto;
      }
      pre code {
        padding: 0;
        overflow: visible;
        overflow-wrap: normal;
      }
      .sourceCode {
       background-color: transparent;
       overflow: visible;
      }
      hr {
        height: 1px;
        margin: 1em 0;
        &:first-child { display: none; }
      }
      table {
        margin: 1em 0;
        border-collapse: collapse;
        width: 100%;
        overflow-x: auto;
        display: block;
        font-variant-numeric: lining-nums tabular-nums;
      }
      table caption {
        margin-bottom: 0.75em;
      }
      tbody {
        margin-top: 0.5em;
        border-top: 1px solid #1a1a1a;
        border-bottom: 1px solid #1a1a1a;
      }
      th {
        border-top: 1px solid #1a1a1a;
        padding: 0.25em 0.5em 0.25em 0.5em;
      }
      td {
        padding: 0.125em 0.5em 0.25em 0.5em;
      }
      header {
        padding-bottom: 4em;
        text-align: center;
      }
      footer {
        padding-top: 4em;
        text-align: center;
      }
      nav[role="doc-toc"] {
        padding-bottom: 4em;
      }
      nav[role="doc-toc"] li {
        list-style: none;
      }
      nav[role="doc-toc"] ul {
        padding-left: 1.3em;
      }
      nav[role="doc-toc"] > ul {
        padding-left: 0;
      }
      nav[role="doc-toc"] a:not(:hover) {
        text-decoration: none;
      }
      code{white-space: pre-wrap;}
      span.smallcaps{font-variant: small-caps;}
      div.columns{display: flex; gap: min(4vw, 1.5em);}
      div.column{flex: auto; overflow-x: auto;}
      div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
      ul.task-list[class]{list-style: none;}
      ul.task-list li input[type="checkbox"] {
        font-size: inherit;
        width: 0.8em;
        margin: 0 0.8em 0.2em -1.6em;
        vertical-align: middle;
      }
      div.csl-bib-body { }
      div.csl-entry {
        clear: both;
        margin-bottom: 0em;
      }
      .hanging-indent div.csl-entry {
        margin-left:2em;
        text-indent:-2em;
      }
      div.csl-left-margin {
        min-width:2em;
        float:left;
      }
      div.csl-right-inline {
        margin-left:2em;
        padding-left:1em;
      }
      div.csl-indent {
        margin-left: 2em;
      }
    }
  }
}


@media(min-width:72rem) {
  main article,
  {
    > :not(h1, iframe, blockquote) { max-width: 72rem; padding-left: 10rem; padding-right: 10rem; }
    > :not(h1, h2, h3, h4, h5, h6, header, footer, iframe, blockquote) { padding-left: 11rem; padding-right: 11rem; }
    > figure { padding-left: 3rem; padding-right: 3rem; }
    > ol { padding-left: 13rem; padding-right: 13rem; }
    > ul { padding-left: 13rem; padding-right: 13rem; }
    > blockquote { max-width: 50rem; }
  }
}
